<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>商品管理一覧ページ</title>
</head>
<body>
  <h1>商品一覧ページ</h1>
  <a href="/showNewProductForm">新しい商品を登録する</a>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>説明</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="product : ${listProducts}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td>
          <a th:href="@{/showFormForUpdate/{id}(id=${product.id})}">詳細</a>
          <a th:href="@{/deleteProduct/{id}(id=${product.id})}">削除</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>